repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        types: [file, python]
      - id: trailing-whitespace
        types: [file, python]
      - id: check-added-large-files
      - id: debug-statements
        language_version: python3

  - repo: https://github.com/asottile/reorder-python-imports
    rev: v3.12.0
    hooks:
      - id: reorder-python-imports
        args: [--py38-plus]

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.0
    hooks:
      - id: pyupgrade
        args: [--py38-plus]


  - repo: https://github.com/psf/black
    rev: "23.11.0"
    hooks:
      - id: black


  # - repo: local
  #   hooks:
  #     - id: pylint
  #       name: pylint
  #       entry: pylint
  #       language: system
  #       types: [python]
  #       files: ^magpylib/
  #       args: [
  #           "-rn", # Only display messages
  #           "-sn", # Don't display the score
  #           "--rcfile=.pylintrc", # Link to your config file
  #           #"--load-plugins=pylint.extensions.docparams", # Load an extension
  #         ]
