version: 2.1
workflows:
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/

jobs:
  build:
    docker:
      - image: python:3.9
    steps:
      - checkout
      - run:
          name: Specific depedencies for pyvista or mayavi
          command: |
            apt update
            apt-get install -y libgl1-mesa-dev xvfb ffmpeg
      - run:
          name: Install local magpylib
          command: pip install .[dev]
      - run:
          name: Set up testing tools and environment
          command: mkdir test-results && pip install tox && pip install pylint
      - run:
          name: Run pylint test
          command: pylint --rcfile='./.pylintrc' magpylib
      - run:
          name: Run code test coverage suite
          command: tox
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

  deploy:
    docker:
      - image: python:3
    steps:
      - checkout
      - run:
          name: install python dependencies
          command: |
            python3 -m venv venv
            . venv/bin/activate
            make dev
      - run:
          name: verify git tag vs. version
          command: |
            python3 -m venv venv
            . venv/bin/activate
            python setup.py verify
      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username: magpylib" >> ~/.pypirc
            echo -e "password: $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: create packages
          command: |
            make package
      - run:
          name: install wheel
          command: |
            . venv/bin/activate
            pip install wheel
      - run:
          name: Create wheel
          command: |
            . venv/bin/activate
            python setup.py bdist_wheel
      - run:
          name: upload to pypi
          command: |
            . venv/bin/activate
            twine upload --repository pypi dist/*
