#galleryimg {
    background: red;
}

/* fix image transparency in docu WTF? */
html[data-theme=dark] .bd-content img:not(.only-dark):not(.dark-light) {
    background: none;
}

/* custom padding for index page*/
.sectiontext {
    margin-top:-40px;
}
